body {
  padding: 1em;
  font-family: sans-serif;
}

.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  border: 2px outset ButtonBorder;
  padding: 2px 6px;
  font: menu;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  user-select: none;
  display: block;
  margin-top: 10px;
  color: black;
  background-color: lightgray;
  float: right;
}

header {
  font-size: 50px;
}

.flash {
  max-width: 960px;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #CBE5F2;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  color: #ff6633;
  background: #FFCFBF;
}

.flash.success {
  color: #33cc99;
  background: #CBF2E5;
}

#files {
  flex-wrap: wrap;
  gap: 1rem;
}

#files li {
  position: relative;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #e0e0e0;
  list-style: none;
  flex: 0 1 auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
}

#files li a {
  color: #000;
  display: block;
  padding: 18px clamp(10px, 5vw, 25px) 18px clamp(2px, 5vw, 57px);
  text-decoration: none;
  font-size: clamp(6px, 4vw, 40px);
  font-weight: bold;
  width: max-content;
  max-width: 100%;
}

#files li > a:first-child {
  flex-grow: 1;
  overflow-x: auto;
  background-color: #c0c0c0;
  border-radius: 0.25em;
}

#file-list-title {
  font-size: 50px;
}

.edit::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background: url('/static/images/icon_edit.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

#files li form.delete button.delete::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background: url('/static/images/icon_delete.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

textarea[name="edit_file"],
textarea[name="file_content"] {
  height: 300px;
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: both;
  width: 75%;
}

@media (min-width: 768px) {
  textarea[name="edit_file"],
  textarea[name="file_content"] {
    width: 50%;
  }
}

input[type="submit"] {
  display: inline-block;
  margin-top: 10px;
  color: black;
  background-color: lightgray;
  cursor: pointer;
}

select[name="file_extension"] {
  padding-right: 8px;
  height: 21px;
}

.cancel-button {
  display: inline-block;
  margin-top: 10px;
  color: black;
  background-color: lightgray;
  cursor: pointer;
}

#files li a.edit,
#files li form.delete button.delete {
  color: #000;
  background: none;
  border: none;
  padding: 18px clamp(10px, 5vw, 25px) 18px clamp(2px, 5vw, 57px);
  font-size: clamp(6px, 4vw, 40px);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: max-content;
  max-width: 100%;
  vertical-align: middle;
}

.sign-in-button {
  display: inline-block;
  margin-top: 10px;
  color: black;
  background-color: lightgray;
  cursor: pointer;
}

.sign-in-div label,
.sign-in-div input,
.sign-in-div button {
    display: block;
    margin-top: 10px;
}

.log-in-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  border: 2px outset ButtonBorder;
  padding: 2px 6px;
  font: menu;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  user-select: none;
  display: block;
  margin-top: 10px;
  color: black;
  background-color: lightgray;
  float: left;
}

.sign-in-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  border: 2px outset ButtonBorder;
  padding: 2px 6px;
  font: menu;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  user-select: none;
  display: block;
  margin-top: 10px;
  color: black;
  background-color: lightgray;
  float: left;
}

.sign-out-button {
  -webkit-appearance: button;
  -moz-appearance: button;
  border: 2px outset ButtonBorder;
  padding: 2px 6px;
  font: menu;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  user-select: none;
  color: black;
  background-color: lightgray;
  display: inline-block;
  line-height: normal;
  margin: 0;
}

.sign-out-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sign-out-container p {
  margin: 0;
}

.sign-out-button {
  display: inline-block;
  margin-top: 0;
}