header {
  font-size: 50px;
}

.flash {
  max-width: 960px;
  padding: 10px 20px;
  margin: 20px auto 1.5em auto;
  color: #3399cc;
  background: #CBE5F2;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  color: #ff6633;
  background: #FFCFBF;
}

.flash.success {
  color: #33cc99;
  background: #CBF2E5;
}

#files {
  flex-wrap: wrap;
  gap: 1rem;
}

#files li {
  position: relative;
  margin-bottom: 10px;
  border-radius: 8px;
  background: #e0e0e0;
  list-style: none;
  flex: 0 1 auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#files li a {
  color: #000;
  display: block;
  padding: 18px clamp(10px, 5vw, 25px) 18px clamp(2px, 5vw, 57px);
  text-decoration: none;
  font-size: clamp(6px, 4vw, 40px);
  font-weight: bold;
  width: max-content;
  max-width: 100%;
}

#file-list-title {
  font-size: 50px;
}

.edit::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background: url('/static/images/icon_edit.png') no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

textarea[name="edit_file"] {
  height: 300px;
  font-family: monospace;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: both;
  width: 75%;
}

@media (min-width: 768px) {
  textarea[name="edit_file"] {
    width: 50%;
  }
}

input[type="submit"] {
  display: block;
  margin-top: 10px;
}